@import url(fonts.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: Lato, sans-serif; }

.contacts {
  background-color: #f06c64;
  color: #f0d8d9;
  font-size: 18px;
  font-weight: 300;
  padding: 55px 0 20px;
  border-bottom: 6px solid #ea676b; }
  .contacts__title {
    font-weight: 900;
    font-size: 30px;
    letter-spacing: -0.3px;
    margin-bottom: 22px; }
